$primary-color: #87b448;
$primary-color-dark: #71973c;
$primary-color-elem: #73993d;

$screen-min: 970px;
$screen-max: 1440px;

$text-color: #1c2534;
$text-color-secondary: #7c8695;
$text-color-footer: #b7bfcd;
$text-color-link: #59606b;
$text-color-hover: $primary-color-dark;

$light: #fff;

$border-color: #e0e2e6;
$bg-hover: #f4f7fb;

$form-border: #c8cdd5;
$text-form-light: #c1c1c1;

$font-regular: 'ProximaNova';
$font-light: 'ProximaNovaLight';