@import '../variables';
@import '../mixins';

.clearfix {
  @include clearfix;
}

.hidden {
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-overflow {
  @include text-overflow;
}