button,
input,
optgroup,
select,
textarea {
  border: 0;
  font-family: inherit;
  outline: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  background-color: transparent;
  padding: 0;
}

p {
  margin: 0;
}